@import "tailwindcss";
@import "tw-animate-css";



[data-theme="nature"] {
  --color-primary-dark: #093B3B;       
  --color-primary-light: #136E61;     

  --color-background: #E8F6F3;        
  --color-surface: #FFFFFF;           
  --color-muted: #7C8685;  

  --color-accent: #EAF141;            
  --color-warning: #FFC107;          
  --color-danger: #DC3545; 
}


