@import "tailwindcss";
@import "tw-animate-css";



[data-theme="shadcn-dark"] {
  --primary: #18181b;
  --primary-foreground: #f4f4f5;
  --primary-hover: #d4d4d8; 
  
  --secondary: #f4f4f5;
  --secondary-foreground: #18181b;
  --secondary-hover: #d4d4d8;   

  --tertiary: #27272a;
  --tertiary-foreground: #f4f4f5;
  --tertiary-hover: #3f3f46; 

  --background: #09090b; 
  --foreground: #f4f4f5;

  --warning: #facc15; /* yellow-400 */
  --danger: #ef4444; /* red-500 */

  --primary-50: #09090b;
  --primary-100: #18181b;
  --primary-200: #27272a;
  --primary-300: #3f3f46;
  --primary-400: #52525b;
  --primary-500: #71717a;
  --primary-600: #a1a1aa;
  --primary-700: #d4d4d8;
  --primary-800: #e4e4e7;
  --primary-900: #f4f4f5;
  --primary-950: #ffffff;

  
}

/* For all other themes, fallback to background/foreground for card */
[data-theme] {
  --card: var(--background);
  --card-foreground: var(--foreground);
  --warning: #facc15;
  --warning-foreground: #78350f;
  --danger: #ef4444;
  --danger-foreground: #fef2f2;
}

